@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* common */
body.gemini {
    background: #111;
    color: white;
    font-size: 1em;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4em;
    font-family: "Lato", sans-serif;
}


body.gemini .page {
    padding-left: 5ch;
    padding-right: 3ch;
}

body.gemini p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;
}

body.gemini *::before,
body.gemini *::after {
    color: #999;
    font-family: "Roboto Mono", monospace !important;
    font-size: 1rem;
}

/* headings */

body.gemini h1 {
    font-size: 1.7em;
    margin-top: 2em;
    margin-bottom: 0.5rem;
}


body.gemini h2 {
    font-size: 1.2em;
    margin-top: 1.5em;
}

body.gemini h3 {
    font-size: 1em;
    margin-top: 1.2em;
}

body.gemini h2,
body.gemini h3 {
    margin-bottom: 0;
}
/* lists */
body.gemini ul {
    list-style: none;
    padding: 0;
}

body.gemini ul li::before {
    content: '— ';
}

/* section prefixes */

body.gemini h1::before {
    content: '#';
    font-size: 1.5rem;
    margin-left: -1.6ch;
    margin-right: 0.6ch;
}

body.gemini h2::before {
    content: '##';
    font-size: 1.2rem;
    margin-left: -2.83ch;
    margin-right: 0.83ch;
}

body.gemini h3::before {
    content: '###';
    font-size: 0.9rem;
    margin-left: -4.1111ch;
    margin-right: 1.1111ch;
}



/* links and protocol prefixes/suffixes */
body.gemini a {
    display: block;
    margin-top: .5em;
    color: white;
}

body.gemini a::after {
    font-size: 0.8em;
}

body.gemini a.no-title,
body.gemini a[href^="https://matrix.to/"],
body.gemini a[href^="https://mastodon.r23s.eu/"] {
    word-break: break-all;
}

body.gemini a::before {
    content: '=> ';
    margin-left: -3ch;
}

body.gemini a::before,
body.gemini a::after {
    display: inline-block;
    text-decoration: none;
    white-space: pre;
}


body.gemini a[href^="https:"]::after {
    content: " [HTTPS]"
}

body.gemini a[href^="https://matrix.to/"]::after {
    content: " [Matrix]"
}

body.gemini a[href^="http:"]::after {
    content: " [HTTP]"
}

body.gemini a[href^="gemini:"]::after {
    content: " [Gemini]"
}

body.gemini a[href^="gopher:"]::after {
    content: " [Gopher]"
}

body.gemini a[href^="mailto:"]::after {
    content: " [Email]"
}

body.gemini a[href^="https://youtube.com"]::after,
body.gemini a[href^="https://www.youtube.com"]::after {
    content: " [YouTube]"
}

